.App {
  text-align: center;
  margin: auto;
  height: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.bg{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/mojame-1bf6f.appspot.com/o/image%2FGold%20abstract%20phone%20wallpaper.png?alt=media&token=f8fd5094-1730-42c3-a1ca-aff6e285b6ad');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
